.pozycja_pierwsza{
    position: absolute;
    left: 40px;
    top: 50px;
    width: 300px;
    height: 300px;
    border-style: solid;
}

.pozycja_w_divie{
    position: absolute;
    left: 40px;
    top: 40px;
    border-style: solid;
}

.pozycja_druga{
    position: relative;
    left: 40px;
    top: 400px;
    width: 300px;
    height: 300px;
    border-style: solid;
}

.pozycja_w_divie_2{
    position: relative;
    margin-top: 10%;
    margin-left: 30%;
    border-style: solid;
    width: 50px;
}

.pozycja_trzecia{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
    border: 3px solid #73ad21;
}

.pozycja_czwarta{
    position: sticky;
    top: 0px;
    background-color: green;
    border: 2px solid #4caf50;
}
